@import "bootstrap";

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.table th { text-align: center; }
td.text-center { text-align: center; }
td.text-right { text-align: right; }

.pagination { text-align: center; }

/* Errores */
#error_explanation {
  ul { background-color: #ededed; margin: 20px 0; padding: 20px; border-radius: 3px;
    li {
      list-style: none outside none;
      font-weight: bold;
    }
  }
}